@import "../../Sass/mixins.scss";

.quiz-main {
  width: 100vw;
  height: calc(100vh - 75px);
  @include flex(flex-start);
  text-align: center;
  color: blue;
  background-color: #f8f8ff;

  .quiz-title {
    margin-bottom: 15vh;
  }

  #quiz-card {
    @include flex(center);
    width: 500px;
    height: 350px;
    margin-bottom: 20px;

    .quiz-card-div {
      @include flex(space-evenly);
      height: 100%;

      .quiz-card-image {
        height: 100px;
      }

      .quiz-question {
        color: blue;
        width: 90%;
      }

      .quiz-answers {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }
  }
}

.quiz-radio-group {
  display: flex;
  justify-content: space-evenly;
}

#quiz-card-closed {
  display: none;
}
