@import "../../Sass/mixins.scss";
@import "../../Sass/colors.scss";

.episode-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  text-align: center;

  .episode-card {
    width: 600px;
    @include flex(space-evenly);
    top: 15px;

    .episode-div {
      @include flex(space-evenly);

      .title-div {
        @include flex(space-evenly);
        flex-direction: row;
        width: 100%;
      }

      .episode-image {
        width: 450px;
        height: 280px;
      }

      .episode-synopsis,
      .episode-quote {
        white-space: pre-wrap;
        text-align: left;
        width: 90%;
      }
    }
  }
}

.reviews-div {
  @include flex(space-evenly);
}

.user-review-avatar {
  img {
    width: auto;
  }
}

.single-episode-list {
  width: 100%;
}

#dialog-rating-title {
  padding-bottom: 0;
}

.star-rating-error-text {
  color: $secondary-red;
  font-weight: bolder;
  margin: 0 0 16px 5px;
}
