@import "../../Sass/mixins.scss";

.episode-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  text-align: center;

  .episode-card {
    width: 600px;
    @include flex(space-evenly);
    top: 15px;

    .episode-div {
      @include flex(space-evenly);

      .title-div {
        @include flex(space-evenly);
        flex-direction: row;
        width: 100%;
      }
    }
  }
}

.reviews-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.user-review-avatar {
  img {
    width: auto;
  }
}

.single-episode-list {
  width: 100%;
}

#dialog-rating-title {
  padding-bottom: 0;
}
