@import "../../Sass/mixins.scss";

.personality-test-main {
    width: 100vw;
    height: calc(100vh - 75px);
    @include flex(center);
    background-color: #f8f8ff;
}

.personalitytest-card {
  border: solid 10px green;
  width: 400px;
  height: 400px;
    @include flex(center);
}