@import "../../Sass/mixins.scss";

.profile-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  top: 10px;

  .profile-information {
    @include flex(initial);

    .profile-image {
      width: 150px;
      height: 150px;
    }
  }
}

.profile-main {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  .profile-list-heading {
    text-align: center;
  }
}
