
.dashboard-main {
    height: calc(100vh - 75px);
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    overflow: hidden;
    background-attachment: fixed;
    background-clip: content-box;
}

.dashboard-title-div {
    position: absolute;
}

.dashboard-title {
    position: absolute;
}
