@import "../../Sass/mixins.scss";

.dashboard-main {
  height: 100vh;
  width: 100vw;
  background: url("../../images/androids-dungeon-bg.png") center/100vw 100vh
    no-repeat content-box fixed;
  text-align: center;
  overflow: hidden;
  @include flex(flex-start);

  .title-div {
    @include flex(center);
    flex-direction: row;
    width: 100%;

    #dashboard-logout-button {
      right: 20px;
      position: absolute;
    }
  }

  .dashboard-card-div {
    @include flex(space-evenly);
    width: 100%;

    .card-div-row {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      #dashboard-card-top {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
        @include flex(flex-start);
        box-shadow: none;

        .dashboard-link {
          text-decoration: none;
          color: black;

          .top-div-title {
            width: 180px;
            position: relative;
            top: 25px;
          }
        }
      }
      #dashboard-card-bottom {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
        @include flex(center);
        box-shadow: none;

        .dashboard-link {
          text-decoration: none;
          color: black;

          .bottom-div-title {
            width: 180px;
            position: relative;
            top: 60px;
          }
        }
      }
    }
  }
}
