.dashboard-main {
  height: calc(100vh - 75px);
  width: 100vw;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-clip: content-box;
}

.dashboard-title {
}
