$primary-red: #fc5c65;
$secondary-red: #eb3b5a;
$primary-orange: #fd9644;
$secondary-orange: #fa8231;
$primary-yellow: #fed90f;
$secondary-yellow: #f7b731;
$primary-green: #26de81;
$secondary-green: #20bf6b;
$primary-teal: #2bcbba;
$secondary-teal: #0fb9b1;
$primary-blue: #45aaf2;
$secondary-blue: #2d98da;
$primary-dark-blue: #4b7bec;
$secondary-dark-blue: #3867d6;
$primary-purple: #a55eea;
$secondary-purple: #8854d0;
$primary-gray: #d1d8e0;
$secondary-gray: #a5b1c2;
$tertiary-gray: #778ca3;
$steel-color: #4b6584;
