.episodes-main {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
}

.episodes-card {
    margin-top: 20px;
}

.episodes-episode {
    box-sizing: border-box;
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodes-image {
    width: 100px;
    height: 100px;
}
