@import "../../Sass/mixins.scss";

.episodes-body {
  background-color: #f8f8ff;
  height: calc(100vh - 75px);

  .episodes-main {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;

    .episodes-link {
      text-decoration: none;
      
      .episodes-card {
        margin-top: 20px;

        .episodes-episode {
          @include flex(initial);
          box-sizing: border-box;
          width: 225px;

          .episodes-image {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}
.episodes-typography {
  text-align: center;
}

.seasons-pagination {
  display: flex;
  justify-content: center;
}
