@import "./Sass/colors.scss";

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button.MuiButton-contained,
button.MuiFab-primary,
button.MuiFab-secondary {
  color: #fff;
}

@font-face {
  font-family: "SimpsonsFont";
  src: local("SimpsonsFont"), url(./fonts/SimpsonsFont.otf) format("opentype");
}

.favorite-icon,
.favorite-border-icon {
  color: $primary-red;
}
