.primary-red {
  color: #fc5c65;
}

.secondary-red {
  color: #eb3b5a;
}

.primary-orange {
  color: #fd9644;
}

.secondary-orange {
  color: #fa8231;
}

.primary-yellow {
  color: #fed330;
}

.secondary-yellow {
  color: #f7b731;
}

.primary-green {
  color: #26de81;
}

.secondary-green {
  color: #20bf6b;
}

.primary-teal {
  color: #2bcbba;
}

.secondary-teal {
  color: #0fb9b1;
}

.primary-blue {
  color: #45aaf2;
}

.secondary-blue {
  color: #2d98da;
}

.primary-dark-blue {
  color: #4b7bec;
}

.secondary-dark-blue {
  color: #3867d6;
}

.primary-purple {
  color: #a55eea;
}

.secondary-purple {
  color: #8854d0;
}

.primary-gray {
  color: #d1d8e0;
}

.secondary-gray {
  color: #a5b1c2;
}

.tertiary-gray {
  color: #778ca3;
}

.steel-color {
  color: #4b6584;
}
