@import "../../Sass/colors.scss";

.auth-main {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;

  .auth-title,
  .auth-subtitle {
    font-family: SimpsonsFont;
    position: relative;
    top: 20px;
  }

  .auth-title {
    color: $primary-yellow;
  }

  .login-card {
    width: 100%;
    display: flex;
    justify-content: center;

    .auth-card {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      top: 100px;

      .login-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60%;
      }
    }
  }
}

.register-card {
  width: 100%;
  display: flex;
  justify-content: center;

  .auth-card {
    width: 500px;
    height: 500px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .register-form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 70%;
    }
  }
}

.register-card-closed {
  display: none;
}

.login-card-closed {
  display: none;
}

@media (max-width: 665px) {
  .auth-main {
    .auth-title {
      font-size: 25px;
    }

    .auth-subtitle {
      font-size: 20px;
    }

    .login-card {
      .auth-card {
        width: 300px;
        height: 400px;
      }
    }
  }

  .register-card {
    .auth-card {
      width: 300px;
      height: 400px;
    }
    .register-text {
      font-size: 15px;
    }
  }
}
