@import "../../Sass/mixins.scss";

.trivia-main {
  width: 100vw;
  height: calc(100vh - 75px);
  @include flex(flex-start);
  text-align: center;
  color: blue;
  background-color: #f8f8ff;

  .trivia-title {
    margin-bottom: 15vh;
  }

  #trivia-card {
    @include flex(center);
    width: 500px;
    height: 350px;
    margin-bottom: 20px;

    .trivia-card-div {
      @include flex(space-evenly);
      height: 100%;

      .trivia-card-image {
        height: 100px;
      }

      .trivia-question {
        color: blue;
        width: 90%;
      }

      .trivia-answers {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }
  }
}

.trivia-radio-group {
  display: flex;
  justify-content: space-evenly;
}

#trivia-next-button {
}

#trivia-next-button-closed {
  display: none;
}

#trivia-submit-button {
}

#trivia-submit-button-closed {
  display: none;
}

#trivia-card-closed {
    display: none;
}